<p>reservas-listado works!</p>
<a href="#" [routerLink]="['./', 10]"> Ir a detalle</a>
<a href="#" [routerLink]="['/login']"> Ir a login</a>

<div *ngFor="let r of api.getAll()">
  {{r.id}} - {{r.name}}
</div>
